.color1 {
  color: #002c4d;
}
.color2 {
  color: #004c75;
}
.color3 {
  color: #007aa4;
}
.color4 {
  color: #00b6d4;
}
.color5 {
  color: #00ffff;
}

header h1 {
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  font-size: 100px; /* Définit la taille de la police */
  letter-spacing: 5px; /* Ajoute de l'espace entre les lettres */
}

body,
header,
nav,
a {
  padding-bottom: 150px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  overflow-y: auto; /* Permet le défilement vertical */
}

header {
  background-color: #002c4d; /* Couleur de fond */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

/* Navigation bar styling */
#navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #002c4d; /* Dark blue background */
  padding: 10px; /* Add some padding to the navbar */
}

/* Link styling */
#navbar a {
  color: #ffffff; /* White text color */
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
}

/* Hover effect for links */
#navbar a:hover {
  background-color: #004c75; /* Lighter blue background on hover */
}

#e {
  list-style-type: disc;
  background-color: white;
  display: block;
}

#e {
  display: block;
  list-style: initial;
}
h1 {
  color: #004c75;
}

body,
html {
  overflow-x: hidden;
}
#lda {
  margin-left: 150px;
}
#alya {
  display: block; /* Rend l'iframe agir comme un bloc pour les marges auto */
  margin: auto; /* Centrage horizontal */
  margin-top: 0px; /* Ou n'importe quelle valeur pour centrer verticalement, ajustez à votre besoin */
  border: none;
}

header h1 {
  font-family: "Doctor Glitch", sans-serif; /* Applique la police 'Doctor Glitch' au h1 */
  font-size: 100px; /* Définit la taille de la police */
  letter-spacing: 5px; /* Ajoute de l'espace entre les lettres */
}

#main-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px; /* Ajoute un espacement à droite */
  padding-left: 20px; /* Ajoute un espacement à gauche */
  max-width: 800px; /* Ajustez la largeur selon vos préférences */
  margin: auto; /* Centre le contenu */
  flex: 1;
  min-width: 320px; /* Assure un minimum de largeur pour le texte sur petits écrans */
}

#main-content h2,
#main-content h3 {
  color: #002c4d; /* Couleur des titres, ajustez selon votre palette */
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 0.5em;
  font-size: 1rem;
  color: #555;
}

#main-content li {
  margin-bottom: 10px; /* Espacement entre les liens */
}

#main-content a {
  color: #4a99e9; /* Couleur des liens, ajustez selon votre palette */
  text-decoration: none; /* Enlève le soulignement */
}

#main-content a:hover {
  text-decoration: underline; /* Ajoute un soulignement au survol */
}

footer {
  background-color: #002c4d;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  padding-top: 20px;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espacement entre les liens et le texte des droits */
  font-size: 0.8em;
}

.footer-link,
.footer-social {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px; /* Espacement entre les icônes/liens */
  display: inline-flex;
  align-items: center;
}

.footer-link i,
.footer-social i {
  margin-right: 5px;
}

.footer-bottom {
  font-size: 0.8em; /* Ajustez la taille de la police pour les droits d'auteur si nécessaire */
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-link,
  .footer-social {
    margin: 5px 0; /* Ajustement pour les écrans plus petits */
  }

  .footer-bottom {
    margin-top: 10px; /* Espacement entre les liens et le texte des droits pour les petits écrans */
  }
}

#viz1710697264959 {
  margin-left: 150px;
  width: 1000px;
  height: 100px;
  display: block;
}

#about-section {
  padding: 20px;
  max-width: 800px; /* Ajustez la largeur selon vos préférences */
  margin: 40px auto; /* Centre le contenu et ajoute de l'espace au-dessus et en dessous */
}

#about-section h2 {
  color: #322c2d; /* Couleur des titres, ajustez selon votre palette */
  margin-bottom: 30px; /* Espacement sous le titre */
}

#about-section p {
  text-align: justify; /* Justifie le texte des paragraphes */
  margin-bottom: 15px; /* Espacement entre les paragraphes */
}

#miashs-members,
#encadrant-members {
  padding: 20px;
  text-align: center; /* Centre le contenu */
}

#miashs-members,
#encadrant-members h2 {
  color: #002c4d;
  margin-bottom: 20px;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les membres dans le conteneur */
  gap: 20px; /* Ajoute un espace entre les membres */
}

.member {
  width: 150px; /* Ajustez selon la taille souhaitée pour les photos */
}

.member img {
  width: 100%; /* Assure que l'image remplit le conteneur */
  border-radius: 50%; /* Rend les photos circulaires */
  margin-bottom: 10px; /* Espacement entre la photo et le nom */
}

.member p {
  margin: 0; /* Enlève l'espace par défaut autour des paragraphes */
}
