.contact-section {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 20px auto;
}

.contact-section h1 {
  color: #007BFF;
  margin-bottom: 20px;
}

.contact-section p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.contact-section .founders {
  margin-top: 20px;
}

.contact-section .founders h2 {
  color: #007BFF;
}

.contact-section .founders ul {
  list-style-type: none;
  padding: 0;
}

.contact-section .founders ul li {
  margin-bottom: 5px;
}

.contact-section a {
  color: #007BFF;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}
.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4A99E9;
}

#e{
  list-style-type: disc;
  background-color: white;
  display: block;
}

#e {
  display: block;
  list-style:initial;
}
h1 {
  color: #4A99E9;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4A99E9;
}
h1 {
  color: #4A99E9;
}
body,html{
  overflow-x: hidden;
}
#lda {
  margin-left: 150px;
}
#alya {
  display: block; /* Rend l'iframe agir comme un bloc pour les marges auto */
  margin: auto; /* Centrage horizontal */
  margin-top: 0px; /* Ou n'importe quelle valeur pour centrer verticalement, ajustez à votre besoin */
  border: none;
}
#master{
  width: 100px;
  height: 100px;
}
#paulva{
  width: 100px;
  height: 100px;
}
#cnrs{
  width: 100px;
  height: 100px;
  float: right;
}
#umontpellier{
  width: 100px;
  height: 100px;
}
#lirmm{
  margin-top: 0;
  width: 100px;
  height: 100px;
  float: right;    
}
#janssen{
  float: right;    
  margin-top: 0;
  width: 100px;
  height: 100px;
}
#viz1710697264959{
  margin-left: 150px;
  width: 1000px;
  height: 100px;
  display: block;
}